<!-- History Modal dialog-->
<div class="modal plist-modal" id="history" tabindex="-1" role="dialog" aria-labelledby="historyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Watched History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="Dismiss Modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-dark plist">
          <thead>
            <tr>
              <th scope="col" class="title col-md-7">Title</th>
              <th scope="col" class="author col-md-2">Owner</th>
              <th scope="col" class="tags col-md-3">Tags</th>
            </tr>
          </thead>
          <tbody id="historyList">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button name="Dismiss Modal" type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" style="cursor:pointer;">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- playlist modal dialog -->
<div class="modal plist-modal" id="plist" tabindex="-1" role="dialog" aria-labelledby="playlistLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Playlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="Dismiss Modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12" id="t-wrap">
          <table class="table table-hover table-dark plist">
            <thead>
              <tr>
                <th scope="col" class="numRow col-md-1">#</th>
                <th scope="col" class="title col-md-6">Title</th>
                <th scope="col" class="author col-md-2">Owner</th>
                <th scope="col" class="tags col-md-3">Tags</th>
              </tr>
            </thead>
            <tbody id="playlist">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button name="Dismiss Modal" type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" style="cursor:pointer;">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- creators modal dialog -->
<div class="modal plist-modal" id="creators" tabindex="-1" role="dialog" aria-labelledby="creatorsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Content Creators</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="Dismiss Modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <h6 class="caption">
              Select a content creator below to view their videos.
            </h6>
          </div>
          <div class="row text-center">
            {{#each creators}}
              <div class="col-sm-2" id='creator-{{this.id}}'>
                <figure>
                  <a href="/{{this.name}}" rel="noopener" title="{{this.nameDisp}}" alt="{{this.nameDisp}}'s Page"><img src="{{this.thumb}}" height="75px" width="75px" />
                    <figcaption class="creator-name">{{this.nameDisp}}</figcaption>
                  </a>
                </figure>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button name="Dismiss Modal" type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" style="cursor:pointer;">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" data-backdrop="false" id="top-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img id="logo" class="navbar-brand" src="/img/logos/banner.webp" alt="logo"/></a>
    </div>
    <div class="navbar n-right">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" id="options">
        <label class="btn btn-sm btn-secondary" id="toggle-label" name="Toggles Label" data-toggle="tooltip" data-placement="bottom" title="Toggle these to enable or disable them on your playlist." disabled>Labels <i class="fas fa-arrow-right"></i></label>

        <label class="btn btn-sm btn-secondary opts-h" name="Weapons Toggle" id="toggle-weapon" for="toggle-weapon-check" data-toggle="tooltip" data-placement="bottom" title="Click to toggle Weapons">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-weapon-check">
          <img class="toggle-img opts-h sel-img" id="toggle-weapon-img" src="/img/weapons.png?v={{lookup sums 'img/weapons.png'}}" alt="Weapons" />
        </label>
        <label class="btn btn-sm btn-secondary opts-h" name="Warframes Toggle" id="toggle-warframe" for="toggle-warframe-check" data-toggle="tooltip" data-placement="bottom" title="Click to toggle Warframes">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-warframe-check">
          <img class="toggle-img opts-h sel-img" id="toggle-warframe-img" src="/img/warframes.png?v={{lookup sums 'img/warframes.png'}}" alt="Warframes" />
        </label>
        <label class="btn btn-sm btn-secondary opts-h" name="Machinima Toggle" id="toggle-machinima" for="toggle-machinima-check" data-toggle="tooltip" data-placement="bottom" title="Click to toggle Machinima">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-machinima-check">
          <i class="fas fa-video opts-h sel-img" id="toggle-machinima-img"></i>
        </label>
        <label class="btn btn-sm btn-secondary opts-h" name="SFM Toggle" id="toggle-sfm" for="toggle-sfm-img" data-toggle="tooltip" data-placement="bottom" title="Click to toggle SFM">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-sfm-check">
          <img class="toggle-img toggle-svg opts-h sel-img" id="toggle-sfm-img" data-src="/img/sfm.svg?v={{lookup sums 'img/sfm.svg'}}" alt="SFM">
        </label>
        <label class="btn btn-sm btn-secondary opts-h" name="Lore Toggle" id="toggle-lore" for="toggle-lore-check" data-toggle="tooltip" data-placement="bottom" title="Click to toggle Lore">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-lore-check">
          <img class="toggle-img toggle-svg opts-h sel-img" id="toggle-lore-img" data-src="/img/lotus.svg?v={{lookup sums 'img/lotus.svg'}}" alt="Lore">
        </label>
        <label class="btn btn-sm btn-secondary opts-h" name="Talk Toggle" id="toggle-talk" for="toggle-talk-check" data-toggle="tooltip" data-placement="bottom" title="Click to toggle Talk">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-talk-check">
          <i class="fas fa-microphone-alt opts-h sel-img" id="toggle-talk-img"></i>
        </label>
        <label class="btn btn-sm btn-secondary opts-h" name="Fashion Toggle" id="toggle-fashion" for="toggle-fashion-check" data-toggle="tooltip" data-placement="bottom" title="Click to toggle Fashion">
          <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-fashion-check">
          <i class="fas fa-palette opts-h sel-img" id="toggle-fashion-img"></i>
        </label>
      </div>
      <button type="button" name="Feedback" id="feedbackTrigger" class="btn btn-info btn-sm" href="/feedback" onclick="window.open('https://tenno.tv/feedback', '_blank', 'status,menubar=off,noopener,scrollbars=off')" data-toggle="tooltip" data-placement="bottom" title="Feedback">
        <img class="icon icons8-Comment"alt="Feedback" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAB+0lEQVR4Xu2b/VHDMAzF39uADYAJKBPABsAElAnoCGUDNgAmoJ0ARqATUDaACcTpjnLX1I6pyYecyP+6TvR+kfzaWCVGPjhy/XAAngEjJ+AlMPIE8E3wTyUgItcALgGcAzgwnjWfAF4BLEg+pWKtBSAiEwDPAI5SFzI6vwZwRfItFl8UgIhMATwYFbZvWDckH0OLggBERFP9Zd+7GP/8aSgTYgDeC0772HNYkzyuTu4AGFjqV/XulEIIwALAhfF0zg1vSVLd7HeEAAwx/TeCd8ogBEBy8ZawjuSWZgdQfWoi4hlQQirnxugl4HuAb4LuAqkvQu4CuTtsCevcBdwF3AXcBdwFEu8D3AZLsLPcGN0G3QbdBt0G3QbdBuvPBUb/PUCPlA9zfdb4uhVJPfKvPRnS5oIz40Jyw7sjOU8B0HN07QgZ2vgAMCGpHSS1GTDE3oAvbe/Zpz9gSGWwAjCNtcnEGiS0EUohnBReB8sf8VtpX1sCm0kRUQi6YdwWCEFTfk7yPhV7sk1ORLRDbKYbSCHuoE99RlLtPDmSAFJX+OdpcrR7K3Xfpub7BNC7eIXYFwAT4vsCYEZ8HwBMie8agDnxXQIwKb4rAGbFdwHAtPi2AZgX3yaAIsS3BaAY8W0AKEp80wCKE98kgCLFNwVAXzcF/5DU1E/WNq/zDTwpCFDRIIQVAAAAAElFTkSuQmCC" width="16" height="16">
      </button>
      <div class="btn-group" id="resets">
        <button type="button" name="Reset All" class="btn btn-sm btn-danger btn-reset" data-reset="all"  data-toggle="tooltip" data-placement="bottom" title="Reset & Options"><i class="fas fa-undo"></i></button>
        <button type="button" name="Reset Options" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item btn-reset" href="#" data-reset="all">Reset All</button>
          <a class="dropdown-item btn-reset" href="#" data-reset="toggles">Just Toggles</a>
          <a class="dropdown-item btn-reset" href="#" data-reset="videos">Just Watched Videos</a>
        </div>
      </div>
    </div>
  </div>
</nav>
