<div class='container'>
  <div class='row'>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="#" data-tab-id='creators-plist'>Creators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" data-tab-id="shows">Shows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-tab-id="categories">Categories</a>
      </li>
    </ul>
  </div>

  <div id='creators-plist' class='body-wrapper'>
    {{#each playlists.creators as |creator|}}
      <div id="{{creator.data}}" class="content_creator_playlist">
        <div class="title">
          <a href="/{{creator.link}}">
            {{creator.name}} <i class="fas fa-play"></i>
          </a>
        </div>
        <div class="bottom">
          <div class="previous hide">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="scroll">
            <div class="playlist">
              {{#each creator.playlist as |video|}}
              <span class="video" id='{{video.video_id}}-{{creator.link}}-creators-video' data-button='{{video.video_id}}-{{creator.link}}-creators'>
                <a href="/v/{{video.video_id}}">
                  <i class="fas fa-play faded" id="{{video.video_id}}-{{creator.link}}-creators-button"></i>
                  <img src="https://cdn.warframestat.us/0_webp/https://img.youtube.com/vi/{{video.video_id}}/mqdefault.jpg" />
                  <div class='shade hide text-center'>
                    <div class='shade-author hide'>{{video.account_name}}</div>
                    <div class='shade-title'>{{video.video_title}}</div>
                  </div>
                </a>
              </span>
              {{/each}}
            </div>
          </div>
          <div class="next text-right">
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </div>
    {{else}}
      {{> no-videos}}
    {{/each}}
  </div>
  <div id='categories' class='body-wrapper'>
    {{#each playlists.categories as |category|}}
      <div id="{{category.data}}" class="content_creator_playlist">
        <div class="title">
          {{category.name}}
        </div>
        <div class="bottom">
          <div class="previous hide">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="scroll">
            <div class="playlist">
              {{#each category.playlist as |video|}}
              <span class="video" id='{{video.video_id}}-{{category.id}}-cat-video' data-button='{{video.video_id}}-{{category.id}}-cat'>
                <a href="/v/{{video.video_id}}">
                  <i class="fas fa-play faded" id="{{video.video_id}}-{{category.id}}-cat-button"></i>
                  <img src="https://cdn.warframestat.us/0_webp/https://img.youtube.com/vi/{{video.video_id}}/mqdefault.jpg" />
                  <div class='shade hide text-center'>
                    <div class='shade-author hide'>{{video.account_name}}</div>
                    <div class='shade-title'>{{video.video_title}}</div>
                  </div>
                </a>
              </span>
              {{/each}}
            </div>
          </div>
          <div class="next text-right">
            <i class="fas fa-angle-right"></i>
          </div>
        </div>
      </div>
    {{else}}
      {{> no-videos}}
    {{/each}}
  </div>
</div>
